{{!-- <div class="page-header-image" style="background-image:url(/assets/img/login.jpg)"></div> --}}
<div class="container">
    <div class="col-md-4 prelogin content-center">
        <div class="card card-login card-plain">
            <form class="form" method="POST" action="/signup" enctype="multipart/form-data">
                <div class="header header-primary text-center">
                    <div class="logo-container">
                        <img src="/assets/img/now-logo.png" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="col-md-12 mb-3 p-0">
                        <span class="input-group-addon inputIconSpan">
                            <i class="now-ui-icons users_circle-08"></i>
                        </span>
                        <input type="text" class="form-control customFormInput" name="name" id="name" placeholder="Name"
                            required>
                        <div class="invalid-feedback text-left pl-2">Name is required.</div>
                    </div>

                    <div class="col-md-12 mb-3 p-0">
                        <span class="input-group-addon inputIconSpan">
                            <i class="now-ui-icons users_circle-08"></i>
                        </span>
                        <input type="text" class="form-control customFormInput" name="username" id="username" placeholder="Username"
                            required>
                        <div class="invalid-feedback text-left pl-2">Username is required.</div>
                    </div>

                    <div class="col-md-12 mb-3 p-0">
                        <span class="input-group-addon inputIconSpan">
                            <i class="now-ui-icons ui-1_email-85"></i>
                        </span>
                        <input type="text" class="form-control customFormInput" name="emailAddress" id="emailAddress"
                            placeholder="Email Address" required>
                        <div class="invalid-feedback text-left pl-2">Email Address is required.</div>
                    </div>

                    <div class="col-md-12 mb-3 p-0">
                        <span class="input-group-addon inputIconSpan">
                            <i class="now-ui-icons tech_mobile"></i>
                        </span>
                        <input type="text" class="form-control customFormInput" name="phoneNumber" id="phoneNumber"
                            placeholder="Phone Number" required>
                        <div class="invalid-feedback text-left pl-2">Phone Number is required.</div>
                    </div>

                    <div class="col-md-12 mb-3 p-0">
                        <span class="input-group-addon inputIconSpan">
                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                        </span>
                        <input type="password" class="form-control customFormInput" name="password" id="password"
                            placeholder="Password" autocomplete="off" required>
                        <div class="invalid-feedback text-left pl-2">Password is required.</div>
                    </div>

                    <div class="col-md-12 mb-3 p-0">
                        <span class="input-group-addon inputIconSpan">
                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                        </span>
                        <input type="password" class="form-control customFormInput" name="confirmPassword"
                            id="confirmPassword" placeholder="Confirm Password" autocomplete="off" required>
                        <div class="invalid-feedback text-left pl-2">Please confirm your password.</div>
                    </div>

                    <div class="input-group form-group-no-border input-lg">
                        <span class="input-group-addon">
                            <i class="now-ui-icons design_image"></i>
                        </span>
                        <input type="file" class="form-control" placeholder="Choose Image" name="profileImage"
                            id="profileImage" />
                    </div>
                </div>
                <div class="footer text-center pt-0">
                    <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Get Started</button>
                </div>
                <div class="pull-left">
                    <h6>
                        <a href="/signin" class="link">Sign In</a>
                    </h6>
                </div>
                <div class="pull-right">
                    <h6>
                        <a href="/forgot" class="link">Need Help?</a>
                    </h6>
                </div>
            </form>
        </div>

    </div>
