<table class="table table-striped" id="reportedPostsTable" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>Reported Item</th>
            <th>Reported For</th>
            <th>Reported By</th>
            <th>Reported On</th>
            <th>Item Author</th>
            <th>Reviewed</th>
            <th>Review Notes</th>
        </tr>
    <tbody>

    </tbody>
    </thead>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        fetch('/api/getReportedPosts').then(response => response.json()).then((data) => {
            $('#reportedPostsTable').DataTable({
                data: data,
                rowId: 'complaintId',
                columns: [
                    {
                        data: 'reported',
                        className: 'reported',
                        orderable: true
                    },
                    {
                        data: 'reportedFor',
                        className: 'reportedFor',
                        orderable: true
                    },
                    {
                        data: 'reportedByName',
                        className: 'reportedByName',
                        orderable: true
                    },
                    {
                        data: 'reportedOn',
                        className: 'reportedOn',
                        type: 'date',
                        render: function (data, type, row) {
                            if (data !== null) {
                                return moment(data).format('MM/DD/YYYY');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        data: 'reportedPostAuthorName',
                        className: 'reportedPostAuthorName',
                        orderable: true
                    },
                    {
                        data: 'reviewed',
                        className: 'reviewed'
                    },
                    {
                        data: 'reviewNotes',
                        className: 'reviewNotes'
                    }
                ]
            });
        });
    });
</script>