<p class="lead font-weight-bold mt-2">New Post</p>

<form class="form" method="POST" action="/newpost" enctype="multipart/form-data">
    <h6 class="text-danger">{{error}}</h6>

    <label for="Title" class="sr-only">Title</label>
    <input type="text" class="form-control mb-2" name="postTitle" id="postTitle" placeholder="Title"
        value="{{postTitle}}">

    <label for="Category" class="sr-only">Category</label>
    <select id="postCategorySelectize" class="form-control mb-2" placeholder="Category">
        <option value="">Choose Category</option>
    </select>

    <label for="Description" class="sr-only">Description</label>
    <input type="text" class="form-control mb-2" name="postDescription" id="postDescription"
        placeholder="Post Description" value="{{postDescription}}" required="">

    <label for="Post Image" class="sr-only">Post Image</label>
    <input type="file" id="postImage" name="postImage" class="form-control mb-2" placeholder="Post Image" required="">

    <label for="Post Body" class="sr-only">Post Body</label>
    <textarea type="text" id="postBody" name="postBody" class="form-control" placeholder="Post Body"
        rows="4">{{{postBody}}}</textarea>

    <p>
        <input type="submit" value="Save Draft" name="action" class="btn btn-dark btn-round btn-sm my-2" />
        <button type="submit" class="btn btn-dark btn-round btn-sm my-2 float-right">Publish</button>
    </p>

</form>

<script>

    $('#postCategorySelectize').selectize({
        maxItems: 1,
        create: true,
        labelField: 'value',
        valueField: 'value',
        searchField: 'value',
        render: {
            option: function (item, escape) {
                return '<div>' + escape(item.value) + '</div>';
            }
        },
        onChange: function (value) {
            console.log(value);
        }
    });

$('#postCategorySelectize')[0].selectize.addOption(
    [
        { text: "Economy", value: "Economy" },{ text: "World", value: "World" },
        { text: "Technnology", value: "Technology" },{ text: "Culture", value: "Culture" },
        { text: "Business", value: "Business" },{ text: "Politics", value: "Politics" },
        { text: "Opinion", value: "Opinion" },{ text: "Science", value: "Science" },
        { text: "Health", value: "Health" },{ text: "Style", value: "Style" },
        { text: "Travel", value: "Travel" },{ text: "Politics", value: "Politics" },
        { text: "Career", value: "Career" },{ text: "DIY", value: "DIY" },
        { text: "Celebrity Gossip", value: "Celebrity Gossip" },{ text: "Sports", value: "Sports" },
        { text: "Entertainment", value: "Entertainment" },{ text: "Shopping", value: "Shopping" },
        { text: "Education", value: "Education" },{ text: "Fitness", value: "Fitness" },
        { text: "History", value: "History" },{ text: "Marketing", value: "Marketing" },
        { text: "Law", value: "Law" },{ text: "Photography", value: "Photography" },
        { text: "Movies", value: "Movies" },{ text: "Real Estate", value: "Real Estate" },
        { text: "Music", value: "Music" },{ text: "Car", value: "Car" },
        { text: "Owambe", value: "Owambe" },{ text: "Fashion", value: "Fashion" },
        { text: "Wedding", value: "Wedding" },{ text: "Money", value: "Money" },
    ]);
    //$('#postCategorySelectize')[0].selectize.refreshOptions();
    //$('#postCategorySelectize')[0].selectize.addItem('Economy');

    ClassicEditor
        .create(document.querySelector('#postBody'), {
            //toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ]
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });
</script>