<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Taiwo Tejuosho">

  <title>Bloget</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="/assets/css/selectize.bootstrap4.css" rel="stylesheet" />
  <script src="/assets/js/jquery/jquery.js"></script>
  <script src="/assets/js/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/assets/js/selectize/selectize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
  <script src="/assets/js/ckeditor5/build/ckeditor.js"></script>
</head>

<body class="d-flex flex-column h-100">

  <!-- Navigation -->
  <div class="container">
    {{#if isAuthenticated}}
    {{!-- <header class="blog-header pt-2 pb-2">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-8 pt-1">
          <a class="blog-header-logo text-dark" href="/">Bloget</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="mr-2 text-dark" href="/newpost">New Post</a>
          <a class="mr-2 text-dark" href="/profile">Profile</a>
          <a class="btn btn-sm btn-outline-secondary" href="/signout">Sign Out</a>
        </div>
      </div>
    </header> --}}

    <header class="navbar navbar-expand-lg navbar-light bg-light rounded border-bottom pb-0 pt-0">
      <a class="navbar-brand blog-header-logo text-dark" href="/">Bloget</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse row flex-nowrap justify-content-between align-items-center" id="navbarsExample03">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-dark" href="/newpost">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-sm btn-outline-secondary pl-2 pr-2" href="/signout">Sign Out</a>
          </li>
        </ul>
      </div>
      <input type="hidden" id="isAuthenticated" value=true />
    </header>

    {{else}}
    {{!-- <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="text-muted" href="/subscribe">Subscribe</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/">Bloget</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-secondary mr-1" href="/signin">Sign in</a>
          <a class="btn btn-sm btn-outline-secondary" href="/signup">Sign up</a>
        </div>
      </div>
    </header> --}}

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded border-bottom pb-0 pt-0">
      <a class="navbar-brand blog-header-logo text-dark" href="/">Bloget</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse row flex-nowrap justify-content-between align-items-center" id="navbarsExample03">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-dark" type="button" data-toggle="modal" data-target="#subscribeModal">Subscribe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/signin">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-sm btn-outline-secondary pl-2 pr-2" href="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
    <input type="hidden" id="isAuthenticated" value=false />

    {{/if}}
  </div>

<main role="main" class="container">
  <!-- Page Content -->
    {{{ body }}}

</main>


  <!-- Footer -->
<footer class="blog-footer mt-auto py-3">
    <span class="text-muted">Taiwo Tejuosho 2020</span>
    <p><a href="#">Back to top</a></p>
</footer>

  <!-- Bootstrap core JavaScript -->
<script type="text/javascript">
function isAuthenticated(){
  if($('#isAuthenticated').val() === "true"){
    return true;
  }
  return false;
}

function checkError(response) {
  if (response.status >= 200 && response.status <= 299) {
    return response.json();
  } else {
    throw Error(response.statusText);
  }
}
</script>
</body>

</html>

