    <div class="slider-wrap">
        <div id="slider">
            <section id="slides">
                <ul class="slides-container">
                    <li>
                        <img src="/assets/images/slide-1.jpg" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="caption col-sm-6">
                                    <h1 class="font-dark">
                                        Idea
                                        <br>Design
                                        <br>Development </h1>
                                    <p class="font-dark">An advertising agency or ad agency or advert agency is a service based business dedicated to creating, planning, and handling advertising.</p>
                                    <p>
                                        <a href="#" class="btn btn-yellow btn-lg">Buy Template</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/slide6.jpg" alt="">
                         <div class="dark-overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="caption col-sm-6 white-caption">
                                    <h1 class="font-light">We
                                        <br>Design
                                        <br>Digital
                                        <br>Products</h1>
                                    <p class="font-light">An advertising agency or ad agency or advert agency is a service based business dedicated to creating, planning, and handling advertising.</p>
                                    <p>
                                        <a href="#" class="btn btn-yellow btn-lg">Buy Template</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <nav class="slides-navigation">
                    <a href="#" class="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="#" class="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </nav>               
            </section>
        </div>
    </div>